*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    position: relative;
}

.box{
    /* position: absolute; */
    background-color: rgb(48, 122, 187);
    border: 2px solid rgba(231, 255, 13, 0.6);

    /* 
    margin-top
    margin-right
    margin-bottom
    margin-left
    
    */
    /* margin-top: 10px; */
    /* margin-left: 50px; */
    /* margin: 10px 10px 10px 60px; */
    margin: 0 auto;


}