*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rotate-box-container{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.rotate-box-container > .rotare-box{
    width: 200px;
    height:200px;
    transition: all 1s;
}
.rotate-box-container > .rotare-box img{
    width: 100%;
    height: 100%;
}
.r{
    transform-origin: top left;
}
.r:hover{
    transform: rotate(45deg);
}
.rxy:hover{
    transform: rotateX(45deg) rotateY(40deg) rotateZ(70deg);
}
.rx:hover{
    transform: rotateX(30deg);
}
.rmx:hover{
    transform: rotateX(-60deg);
}
.ry:hover{
    transform: rotateY(60deg);
}
.rmy:hover{
    transform: rotateY(-50deg);
}

.t:hover{
    transform: translate(-40px , -50px);
}
.tx:hover{
    transform: translateX(45%);
}
.tmx:hover{
    transform: translateX(-45%);
    
}
.ty:hover{
    transform: translateY(45%);
    
}
.tmy:hover{
    transform: translateY(-45%);

    
}

.s:hover{
    /* transform: skew(20deg, 30deg); */
    transform: skew(20deg);
}
.sx:hover{
    /* transform: skewX(40deg); */
    transform: skewX(-40deg);
}
.sy:hover{
    /* transform: skewY(40deg); */
    transform: skewY(-40deg);

}

.sc:hover{
    transform: scale(1.5,1.3);
}
.scx{
    transform-origin: top left;
}
.scx:hover{
    
    transform: scaleX(1.5);
}
.scy:hover{
    transform: scaleY(1.5);
}