html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.gc{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 40px ;
    grid-template-rows: 86px 1fr 1fr 1fr minmax(100px,auto);
    grid-template-areas: 
                        "hed hed hed hed hed "
                        "sb m m m wig"
                        "sb m m m wig"
                        "sb m m m wig"
                        "ft ft ft ft ft"
    
    ;
    column-gap: 10px;
    row-gap: 10px;
    color: white;
    height: 100%;
}
.header{
    background-color: brown;
    grid-area: hed;\
}
.sidebar{
    background-color: rgb(42, 110, 165);
    grid-area: sb;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.main{
    background-color: rgb(120, 42, 165);
    grid-area: m;
}
.wig{
    background-color: rgb(84, 122, 13);
    grid-area: wig;
}
.footer{
    background-color: rgb(226, 70, 23);
    grid-area: ft;
}
.r1{
    width: 70px;
    background-color: tomato;
}
.r2{
    width: 70px;
    background-color: rgb(71, 255, 102);
}
.r3{
    width: 70px;
    background-color: rgb(255, 145, 71);
}
.r4{
    width: 70px;
    background-color: rgb(255, 71, 126);
}